<header>
    <div class="nav-container">
      <nav>
        <div class="branding">
            <img src="../img/logoweis.png" alt="PageTurner Logo" class="logo" />
            <span class="brand-name">PageTurner</span>
        </div>
         <ul class="nav-links">
          <li><a href="customers.html">User verwalten</a> </li>
          <li><a href="products.html">Produkt verwalten</a></li>
          <li><a href="vouchers.html">Gutschein</a></li>
          <li><a href="#news">News upload?</a></li>
          <li><button id="logout">Log Out</button></li>
          
        </ul>
      </nav>
    </div>
  </header>