<header>
    <div class="nav-container">
      <nav>
        <div class="branding">
            <img src="res/img/logoweis.png" alt="PageTurner Logo" class="logo" />
            <span class="brand-name">PageTurner</span>
        </div>
         <ul class="nav-links">
          <li><a href="admin/customers.html">Customer</a></li>
          <li><a href="admin/products.html">Products</a></li>
          <li><a href="admin/vouchers.html">Voucher</a></li>
          
          <li><button id="logout">Log Out</button></li>
          
        </ul>
      </nav>
    </div>
  </header>