<header>
    <div class="nav-container">
      <nav>
        <div class="branding">
          <a href="http://localhost/PageTurner/PageTurner_Webshop/frontend/index.html">
            <img src="res/img/logoweis.png" alt="PageTurner Logo" class="logo" style="height: 38px; width: auto;" />
            <span class="brand-name">PageTurner</span>
          
          </a>


            
        </div>
        
         <ul class="nav-links">
          <li id="sortiment"><a href="sites/products.html">Products</a></li>
          
          
          <li><a href="#kontakt">Contact</a></li>
          <li><a href="#ueberuns">About us</a></li>
          <li><button class="button" id="login">Login</button></li>
          <li id="nav-register"><a href="sites/userRegistration.html">Register</a></li>
          <li><button class="button" id="logout">Log out</button></li>
          
          <li>
            <a href="./sites/cart.html" id="cart-link" aria-label="Warenkorb">
                🛒 <span id="cart-count">0</span>
            </a>
          </li> 
        </ul>
      </nav>
    </div>
  </header>

