<header>
    <div class="nav-container">
      <nav>
        <div class="branding">
            <!-- absoluter Pfad eingebaut, wegen verschiedenen Ebenen eingebaut -->
            <img src="res/img/logoweis.png" alt="PageTurner Logo" class="logo" style="height: 38px; width: auto;" />



            <span class="brand-name">PageTurner</span>
        </div>
         <ul class="nav-links">
          <li><a href="sites/products.html">Sortiment</a></li>
          
          
          <li><a href="#kontakt">Kontakt</a></li>
          <li><a href="#ueberuns">Über uns</a></li>
          <li><button class="button" id="login">Login</button></li>
          <li id="nav-register"><a href="sites/userRegistration.html">Register</a></li>
          <li><button class="button" id="logout">Log out</button></li>
          
          <li>
            <a href="#">
                🛒 <span id="cart-count">0</span>
            </a>
          </li> 
        </ul>
      </nav>
    </div>
  </header>

